@{
    ViewBag.Title = "Sản Phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using QL_HoaTuoi.Models;
@model List<CHUNGLOAI>
  
@if (Session["dn"] != null)
{
    <nav>
        <h3><p style="color:#ff6a00">Hello: @Session["dn"]<br /><a href="@Url.Action("deleteSS","KhachHang")" class="btn btn-danger">Đăng Xuất</a></p></h3>
    </nav>
}

@foreach(var sp in Model)
{
   <div class="col-lg-3 col-sm-6 portfolio-item" style="margin-top:2px">
        @*<div class="card h-100">*@
              <div class="thumbnail" style="height:450px">
                <img src="~/Content/anhHoa/@sp.AnhBia" style="width:250px;height:250px" alt="" class="img-responsive">
                <div class="caption" style="text-align:center">
                  @*<h4><a class="card-title">Mã Sản Phẩm: </a></h4>*@
                  <h4><a style="text-align:center" class="card-title">@*Tên Sản Phẩm:*@ @sp.TenCL-@sp.MaCL</a></h4>
                  @*<p class="card-text">@sp.DienGia.</p>*@
                  <a style="text-align:center">Giá bán: @sp.GiaBan</a>
                </div>
                <div class="space-ten"></div>
                <div class="btn-ground text-center">
                    <span><a href="@Url.Action("ThemGioHang", "GioHang", new { ms=@sp.MaCL,@url=Request.Url.ToString()  })"><button type="button" class="btn btn-outline-success">Add To Cart</button></a></span>
                   <span><a href="@Url.Action("ChiTietSP", new {id =@sp.MaCL })"><button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#product_view">Quick View</button></a> </span>     
                </div>
                <div class="space-ten"></div>
              </div>
      @*</div>*@
       </div>
            
}