@{
    ViewBag.Title = "TimKiem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using QL_HoaTuoi.Models;
@model List<CHUNGLOAI>
@foreach(var sp in Model)
{
 <div class="col-md-4">
              <div class="thumbnail">
                <img src="~/Content/anhHoa/@sp.AnhBia" style="width:300px;height:200px" alt="" class="img-responsive">
                <div class="caption">
                  <h4 class="pull-right">@sp.GiaBan</h4>
                  <h4><a href="#">@sp.TenCL - @sp.MaCL</a></h4>
                  <p>@sp.DienGia.</p>
                </div>
                <div class="ratings">
                  @*<p>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                  </p>*@
                </div>
                <div class="space-ten"></div>
                <div class="btn-ground text-center">
                   <a><button type="button" class="btn btn-primary">Add To Cart</button></a> 
                   <a href="@Url.Action("ChiTietSP", new {id =@sp.MaCL,@url=Request.Url.ToString() })"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#product_view">Quick View</button></a> 
                </div>
                <div class="space-ten"></div>
              </div>
            </div>
}
